@{
    ViewBag.Title = "Voracity";
}

<style type="text/css">
    .tile {
        background-color: grey;
        border-style: solid;
        border-width: 1px;
        float: left;
        height: 30px;
        text-align: center;
        width: 30px;
    }
</style>

<script type="text/javascript">

    $(function() {
        var viewModel = {
            startGame: function() {
                DrawBoard();
            }
        };
        ko.applyBindings(viewModel);
    });

    function DrawBoard() {
        var board = $('#voracityBoard');
        var tiles = '';
        for (var w = 1; w <= 10; w++) {
            for (var h = 1; h <= 10; h++) {
                var randomNumber = 1 + Math.floor(Math.random() * 9);
                tiles += '<span class="tile">' + randomNumber + '</span>';
            }
        }
        board.html(tiles);
    }

    $(document).ready(function() {
        DrawBoard();
    });
</script>

<h2>Voracity</h2>
<button data-bind="click: startGame">Start Game</button>
<div id="voracityBoard" style='height: 320px; width: 320px;'>
</div>

<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Navigation</li>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
</ul>