@{
    ViewBag.Title = "Voracity";
}

<style type="text/css">
    .tile {
        background-color: grey;
        border-style: solid;
        border-width: 1px;
        float: left;
        height: 30px;
        text-align: center;
        width: 30px;
    }
</style>

<script type="text/javascript">

    $(function () {

        var Tile = function(x, y, number) {
            this.x = x;
            this.y = y;
            this.number = number;
        };

        var Board = function(tiles) {
            var self = this;
            self.tiles = ko.observableArray(tiles);
            self.startOver = function() {
                self.tiles.removeAll();
            };
            self.randomizeTiles = function() {
                for (var x = 1; x <= 10; x++) {
                    for (var y = 1; y <= 10; y++) {
                        var randomNumber = 1 + Math.floor(Math.random() * 9);
                        var tile = new Tile(x, y, randomNumber);
                        self.tiles.push(tile);
                    }
                }
            };
        };

        var viewModel = {
            board: new Board(new Array()),
            startGame: function () {
                this.board.startOver();
                this.board.randomizeTiles();
            }
        };
        ko.applyBindings(viewModel);
    });

    $(document).ready(function() {
    });
</script>

<h2>Voracity</h2>
<button data-bind="click: startGame">Start Game</button>
<div id="voracityBoard" style='height: 320px; width: 320px;'>
    <span data-bind="foreach:board.tiles">
        <span data-bind="text: number" class="tile"></span>
    </span>
</div>

<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Navigation</li>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
</ul>