@{
    ViewBag.Title = "Voracity";
}

@Styles.Render("~/Content/voracity.css")
@Scripts.Render("~/Scripts/voracity.js")

<script type="text/javascript">
    $(function() {
        var viewModel = new ViewModel();
        ko.applyBindings(viewModel);
    });
    $(document).ready(function() {
    });
</script>

<h2>Voracity</h2>
<button data-bind="click: startGame">Start Game</button>
<div id="voracityBoard" style='height: 320px; width: 320px;'>
    <span data-bind="foreach:tiles">
        <span data-bind="
            text: number, 
            attr: { class: isCurrent() ? 'tile_current' : isFlipped() ? 'tile_flipped' : 'tile' },
            click: $parent.move"></span>
    </span>
</div>
<span> Score: </span>
<span data-bind="text: score"></span>

<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Navigation</li>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
</ul>